---
import data from "./data/header-items.json";
import { getDataByLang } from "@scripts/utils"
import HeaderItem from "./HeaderItem.astro";
import type { BaseProps } from "@scripts/types/types.ts";

type Props = Pick<BaseProps, "lang">;

const { lang = "en" } = Astro.props;
const headerItems = getDataByLang(data, lang);
---

<header class="header">
    <nav class="header__menu">
        <ul class="header__list">
            {headerItems.map((item: any) => (
                    <HeaderItem href={item.menuLink}
                            ariaLabel={item.ariaLabel}
                            target={item.target}
                            iconClassNames={item.iconClasses}
                            menuText={item.menuText} />
            ))}
            <li class="change-language">
                { lang === 'es' && <a href="/" class="change-language__link"><img src="/assets/icons/us.svg" alt="Cambiar a Inglés"> EN</a>}
                { lang === 'en' && <a href="/es" class="change-language__link"><img src="/assets/icons/es.svg" alt="Change to Spanish"> ES</a>}
            </li>
        </ul>
    </nav>
</header>